<ion-view view-title="Home" style="text-align:center">
  <ion-content class="imgHome">

          <div style="padding-top:25%;padding-left:10%;padding-right:10%">

            <a style="text-decoration: none" href="#/app/listaOfferte">
              <button class="button button-full button-calm" style="border-radius:25px;padding:2%">
              <h2 style="color:white">  Cerca annuncio  </h2>
               </button>
            </a>

          </div>
         <div style="padding-top:20%;padding-left:10%;padding-right:10%">
              <a ng-click="login()">
                <br>
                <br>
                <br>

                <button class="button button-full button-assertive" style="border-radius:25px;padding:2%">
                  <h2 style="color:white">Inserisci annuncio</h2>
                </button>
              </a>

         </div>


  </ion-content>
</ion-view>
