<ion-view view-title="Home">
  <ion-content>
    <div id="container">

        <div id="header">

    	    <div id="navigation"></div><!--#navigation-->

    	</div><!--#header-->

            <div id="main">

              <div id="container">

    <div id="header">

	    <div id="navigation"></div><!--#navigation-->

	</div><!--#header-->

        <div id="main" style="padding-top: 45%;">
          <div style="padding-bottom: 6%;">
          <button class="button button-full button-positive">
<h3 style="color:white">cerca  annuncio</h3>
</button></div><div>
<button class="button button-full button-assertive">
<h3 style="color:white">inserisci annuncio</h3>
</button></div>

          <div id="sidebar"></div><!--#sidebar-->

    <div id="footer"></div><!--#footer-->

        </div><!--#main-->

        <div id="sidebar"></div><!--#sidebar-->

	<div id="footer"></div><!--#footer-->

</div><!--#container-->
            </div><!--#main-->


    </div><!--#container-->


  </ion-content>
</ion-view>
