
<ion-view view-title="Inserisci l'offerta">

<form method="post" action="http://trovalavoro.altervista.org/insertfinito.php" target="hidden_iframe">
  <ion-content>
    <input type="hidden" name="tabella" value="offerte">


<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Tipologia di impiego</span>
    <input type="text" placeholder="Inserisci la tipologia di impiego" name="tipologia_lavoro">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Descrizione del lavoro</span>
    <input type="text" placeholder="Inserisci una descrizione " name="descrizione">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Retribuzione mensile :</span>
    <input type="text" placeholder="Inserisci la retribuzione mensile" name="stipendio" >
        <input type="hidden" name="id_azienda" value="{{id_azienda}}">
  </label>

<button class="button button-block button-positive" type="submit" ng-click="cambia()">Inserisci!</button>

</form>
</ion-content>


<iframe name="hidden_iframe" style="visibility:hidden"></iframe>


<div class="tabs-striped tabs-icon-top" style="padding-top:99%">
  <div class="tabs">
    <a class="tab-item active" href="#/app/home">
      <i class="icon ion-home"></i>
     Home

    </a>

    <a class="tab-item" href="#/app/laMiaAzienda">
      <i class="icon ion-hammer"></i>
      La mia Azienda

    </a>

    <a class="tab-item" href="#/app/listaOfferte">
      <i class="icon ion-navigate"></i>
      Offerte

    </a>
  </div>
</div>

</ion-view>
