<ion-view view-title="{{myWelcome[id_azienda -1].nome_azienda}}" style="background-color:#e6ffe6">

  <ion-content>

    <div  class="sinistra">
<br>



  <p style="font-size:17px">  Nome azienda : <a href="#" class="padd">Modifica </a>   <br>
    <br><i>{{myWelcome[id_azienda - 1].nome_azienda}}</i>   </p><br>

<p style="font-size:17px">Descrizione : <a href="#" class="padd">Modifica </a>   <br>
<br>  <i>  {{myWelcome[id_azienda - 1].descrizione}}</i>   </p><br>

<p style="font-size:17px">Sede :  <a href="#" class="padd" >Modifica </a>   <br>
<br>  <i>  {{myWelcome[id_azienda - 1].sede}} </i> </p><br>

<p style="font-size:17px">Partita Iva :   <a href="#" class="padd">Modifica </a>   <br>
<br>  <i>   {{myWelcome[id_azienda - 1].partita_iva}}</i>  </p><br>

<p style="font-size:17px">Email aziendale:   <a href="#" class="padd">Modifica </a>   <br>
<br>  <i> {{myWelcome[id_azienda - 1].email_azienda}}</i>   </p><br>

<p style="font-size:17px">Recapito aziendale : <a href="#" class="padd">Modifica </a>   <br>
<br>  <i>  {{myWelcome[id_azienda - 1].recapito_aziendale}}</i>  </p><br>

  <h3>ID: {{id_azienda}}</h3>

</div>
      <a href="#/app/inserisciOfferta">
        <button class="button button-calm" style="margin-left:5%;padding:left:50%">
        Inserisci offerta
        </button>
      </a>
        <button class="button button-calm" style="float:right;padding-left:0%;margin-right:5%">
        Le mie offerte di lavoro
        </button>

        <br><br><br><br><br><br><br><br>

</div>

<div style="clear:both;"></div>

  </ion-content>
  <div class="tabs-striped tabs-icon-top">
    <div class="tabs">
      <a class="tab-item" href="#/app/home">
        <i class="icon ion-home"></i>
       Home

      </a>

      <a class="tab-item active" href="#/app/laMiaAzienda">
        <i class="icon ion-hammer"></i>
        La mia Azienda

      </a>

      <a class="tab-item" href="#/app/listaOfferte">
        <i class="icon ion-navigate"></i>
        Offerte

      </a>
    </div>
  </div>

</ion-view>
