<ion-view view-title="{{myWelcome[id_azienda -1].nome_azienda}}">

  <ion-content class="imgLista">
    {{myWelcome[id_azienda - 1].nome_azienda}}  <br>
    {{myWelcome[id_azienda - 1].descrizione}}  <br>
    {{myWelcome[id_azienda - 1].sede}}  <br>
    {{myWelcome[id_azienda - 1].partita_iva}}  <br>
    {{myWelcome[id_azienda - 1].email_azienda}}  <br>
    {{myWelcome[id_azienda - 1].recapito_aziendale}}
    <h1>{{id_azienda}}</h1>
  </ion-content>
  <div class="tabs-striped tabs-icon-top">
    <div class="tabs">
      <a class="tab-item active" href="#/app/home">
        <i class="icon ion-home"></i>
       Home

      </a>

      <a class="tab-item" href="#/app/laMiaAzienda">
        <i class="icon ion-hammer"></i>
        La mia Azienda

      </a>

      <a class="tab-item" href="#/app/listaOfferte">
        <i class="icon ion-navigate"></i>
        Offerte

      </a>
    </div>
  </div>

</ion-view>
