<ion-view view-title="{{myWelcome[id_azienda -1].nome_azienda}}" style="background-color:white">

  <ion-content>

    <div  class="sinistra">
<br>



  <p>  Nome azienda : <a href="#" style="float:right;">Modifica </a>   <br>
    <br><i>{{myWelcome[id_azienda - 1].nome_azienda}}</i>   </p><br>

<p>Descrizione : <a href="#" style="float:right;">Modifica </a>   <br>
<br>  <i>  {{myWelcome[id_azienda - 1].descrizione}}</i>   </p><br>

  <p>Sede :  <a href="#" style="float:right;">Modifica </a>   <br>
<br>  <i>  {{myWelcome[id_azienda - 1].sede}} </i> </p><br>

<p>Partita Iva :   <a href="#" style="float:right;">Modifica </a>   <br>
<br>  <i>   {{myWelcome[id_azienda - 1].partita_iva}}</i>  </p><br>

<p>Email aziendale:   <a href="#" style="float:right;">Modifica </a>   <br>
<br>  <i> {{myWelcome[id_azienda - 1].email_azienda}}</i>   </p><br>

<p>Recapito aziendale : <a href="#" style="float:right;">Modifica </a>   <br>
<br>  <i>  {{myWelcome[id_azienda - 1].recapito_aziendale}}</i>  </p><br>

  <h1>ID: {{id_azienda}}</h1>
  <br>
  <br>

</div>




</div>

<div style="clear:both;"></div>

  </ion-content>
  <div class="tabs-striped tabs-icon-top">
    <div class="tabs">
      <a class="tab-item active" href="#/app/home">
        <i class="icon ion-home"></i>
       Home

      </a>

      <a class="tab-item" href="#/app/laMiaAzienda">
        <i class="icon ion-hammer"></i>
        La mia Azienda

      </a>

      <a class="tab-item" href="#/app/listaOfferte">
        <i class="icon ion-navigate"></i>
        Offerte

      </a>
    </div>
  </div>

</ion-view>
