<ion-view view-title="{{offerte[lin].tipologia_lavoro}}" >
<!--<ion-view view title="Lavoro">-->
  <ion-content>
    <h1 id="titoloLavoro">{{offerte[lin-20].tipologia_lavoro}}</h1> <br> <br>
<!--   Descrione:<h4>{{offerte[lin-20].descrizione}}</h4>-->

  <div class="list card">

  <div class="item item-avatar">
    <h2>LAVORO</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="url(../img/ii.jpg)">
    <p>
      lavoro a tanti soldi bla bla bla bla bla bla bla ahahahahahahahahahahahahahfjfvvjdjfvdvdfdfbldòbdbldl
      dlfbdbòldkfdòfbjdfòbjdòfbjdfboijdfboijfbidobfboijbfijodijofdijo
      SPIRIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
    </p>
      </div>

</div>
  </ion-content>
</ion-view>
