<ion-view view-title="{{offerte[lin].tipologia_lavoro}}" >
<!--<ion-view view title="Lavoro">-->
  <ion-content>
    <h1 id="titoloLavoro">{{offerte[lin-20].tipologia_lavoro}}</h1> <br> <br>
<!--   Descrione:<h4>{{offerte[lin-20].descrizione}}</h4>-->


  <div class="list card">

  <div class="item item-avatar">
    <h2>LAVORO</h2>
    <p>{{offerte[lin-20].data}} </p>
  </div>

  <div class="item item-body">
    <img   class="immagine_annuncio" src="www.altervista.trovalavoro.org/uploads/{{immagine_azienda}}">
    <p>
      {{offerte[lin-20].descrizione}}
    </p>
      </div>

</div>
  </ion-content>







  <div class="tabs-striped tabs-icon-top">
    <div class="tabs">
      <a class="tab-item active" href="#/app/home">
        <i class="icon ion-home"></i>
       Home

      </a>

      <a class="tab-item" href="#/app/laMiaAzienda">
        <i class="icon ion-hammer"></i>
        La mia Azienda

      </a>

      <a class="tab-item" href="#/app/listaOfferte">
        <i class="icon ion-navigate"></i>
        Offerte

      </a>
    </div>
  </div>

</ion-view>
