<ion-view view-title="Lista offerte di lavoro">


  <ion-content class="imgLista">


    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search"  ng-model="cerca">
        </label>
        <button class="button button-clear">
          Cancel
        </button>
    </div>


    <ion-list >


      <ion-item id="divliste" ng-repeat="x in offerte | filter :cerca" href="#/app/listaOfferte/{{x.id_offerta}}">
        <h2 id="titoloLavoro">{{x.tipologia_lavoro}}</h2><br>
        <div>
          <p class="serif"> Descrizione:</p>
          <p class="Sans-serif">{{x.descrizione}}</p>
        </div>
        <div>
          <p class="serif">Data:</p>
          <p class="Sans-serif_1">{{x.data}}</p>{{x.azienda}}
        </div>
      </ion-item>

    </ion-list>




  </ion-content>
  <div class="tabs-striped tabs-icon-top">
    <div class="tabs">
      <a class="tab-item" href="#/app/home">
        <i class="icon ion-home"></i>
       Home

      </a>

      <a class="tab-item" href="#/app/laMiaAzienda">
        <i class="icon ion-hammer"></i>
        La mia Azienda

      </a>

      <a class="tab-item active" href="#/app/listaOfferte">
        <i class="icon ion-navigate"></i>
        Offerte

      </a>
    </div>
  </div>

</ion-content>
</ion-view>


<!-- ng-repeat="x in names | filter : 'm'" -->
<!-- <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div> -->


<!-- <ion-view view-title="Lista offerte di lavoro">
  <ion-content>

    <ion-list>
      <ion-item ng-repeat="x in myWelcome" href="#/app/listaOfferte/{{x.id_offerta}}">

        <h2 id="titoloLavoro">{{x.tipologia_lavoro}}</h2><br>
        Descrizione: {{x.descrizione}} <br>
        Data: {{x.data}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->
