<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">

        <label class="item item-input">
        <i class="icon ion-at"></i>
          <span class="input-label"> &ensp; E-mail :</span>
          <input type="text" ng-model="loginData.username">
        </label>

        <label class="item item-input">
          <i class="icon ion-locked"></i>
          <span class="input-label"> &ensp;  Password : </span>
          <input type="password" ng-model="loginData.password">
        </label>


        <label class="item">
          <button class="button button-block button-positive" type="submit" >Log in</button>

        </label>
        <a class="registrati" href="#/app/registrazioneAzienda"> Effettua registrazione.. ->
        </a>


      </div>
    </form>
  </ion-content>
  <div class="tabs-striped tabs-icon-top">
    <div class="tabs">
      <a class="tab-item active" href="#/app/home">
        <i class="icon ion-home"></i>
       Home

      </a>

      <a class="tab-item" href="#/app/laMiaAzienda">
        <i class="icon ion-hammer"></i>
        La mia Azienda

      </a>

      <a class="tab-item" href="#/app/listaOfferte">
        <i class="icon ion-navigate"></i>
        Offerte

      </a>
    </div>
  </div>

</ion-modal-view>
