/* Empty. Add your own CSS if you like */

.padd{
  font-size: 70%;
  float:right;
  padding-right:10px;
}

#titoloLavoro
{
  color:black;
  text-align: center;
  padding: 5px;
   font-family: Helvetica, sans-serif;
   font-weight: 900;
   line-height: 1.0;
   opacity:1.0;
     text-shadow: 1px 1px 0.5px black;
     text-transform: uppercase;
}
img.buongiorno{
  width: 60px!important;
      object-fit: cover;
      height: 60px!important;
      border-radius: 100%;
}

.ion-social-android:before {
    content: "";
    color: greenyellow;
}

.immagine_annuncio{
  width: 200px;
  height: 100px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

i.ion-images{
  font-size: 200%;
}

div.title.title-left.header-item{
  left: 0px !important;

}


/*Titolo barra centrale personalizzazione*/

i{ /*Icone menu*/
font-size: 28px;

}

/* Barra inferiore*/
.tabs{
  color: #203360;


}
.tabs-striped .tabs{
  background-color: white;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
border-color: #203360;

}

/*Fine barra inferiore */

.bar .title{
  font-size: 23px;
    font-family: Franklin Gothic ;

}

.bar-menu{
  background-color: #203360;
  color: #ffffff;
}

.bar .button.button-clear, .bar button.button-clear{
  color: #ffffff;
}

.bar.bar-stable{
  background-color: #203360;
}

  .bar.bar-stable .title{
  color: #ffffff;
  text-align: center;

}

.bar .title.title-left{
  color: #ffffff;
  text-align: center;
}




#button{
  padding-left: : 10px;


}

.bar-header{
  background-color : #203360;
  color : #ffffff;
}

h1.title{
color: white;
}

.registrati{

  color:  #203360;
  
}

.imgHome{
        background: url(../img/blocco.PNG) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

.imgLista{
       background: url(../img/aa.png) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       background-size: cover;
   }


.sinistra{
font-weight: bold;
  font-size: 25px;
  float: left;
    width: 100%;


}
.sinistra i{
  font-weight: normal;

}








.button.button-positive {
    border-color: transparent;
    background-color: #5b84e5;
    color: #fff;
    border-radius: 25px;


}
.button.button-assertive
{
  border-color: transparent;
  background-color: #ff0000;
  color: #fff;
  border-radius: 25px;
}


#text {
    width: 110px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    /*background-position: 10px 10px;*/
    background-repeat: no-repeat;
    /*padding: 12px 20px 12px 40px;*/
      /*i margini del search*/
    /*margin: 2px 200px 2px 200px;*/
    -webkit-transition: width 0.4s ease-in-out;
     /*la velocita dello scorrimento*/
    transition: width 0.3s ease-in-out;
}

#text:focus {
  /*dove si ferma lo scorrimento del search*/
    width: 98%;
}
#inputSearch
{

}

.button.button-positive
{
    border-color: transparent;
    background-color: #5b84e5;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}
.button.button-assertive
{
  border-color: transparent;
  background-color: #ff0000;
  color: #fff;
  border-radius: 25px;
}

#main{
  padding-top: 45%;
  padding-left:15%;
  padding-right:15%;
}

#selectid
{
            /*    dx         sx*/
  padding: 12px 30px 12px 2px;
  margin: 1px 200px 1px 20px;
  position:  0px 0px 0px 162px;
  align-items:;

}

/*style dei tre campi dove c'e il search e i menu a tendina
                                                          { */
#main {
  margin: 10% 0% 5.8% 0%;
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display:flex;
    align-items: center;
      opacity:0.82;
}

#main div {
   -webkit-flex: 1; /* Safari 6.1+ */
   flex: 1;
}
/*                                                       }  */

/*#tuodiv
{
  width: 100%; height: 100%; top:3.1%; left: 0;
  background: url(myApp\www\img\aa.png) no-repeat center top; position: fixed; z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#divliste
{



    opacity:0.72;
}

p.serif
{
    text-shadow: 1px 0px black;
    color:black;
    font-family: "Big Caslon", Times, serif;

    font-size: 100%;
}
p.Sans-serif
{
  font-size: 100%;
    color:#191a1c;
    font-weight: 600;

font-family:"Book Antiqua";
}

p.Sans-serif_1
{
  font-size: 100%;
    color:#191a1c;
    font-weight: 600;

font-family:"Courier New";
}


p.Sans-serif_M
{
  font-size: 100%;
    color:#191a1c;
    font-weight: 600;

font-family:"Book Antiqua";
}
