/* Empty. Add your own CSS if you like */
#titoloLavoro
{
  color:red;
  text-align: center;
  padding: 5px;
}

.bar-menu{
  background-color: #203360;
  color: #ffffff;
}

.bar .button.button-clear, .bar button.button-clear{
  color: #ffffff;
}

.bar.bar-stable{
  background-color: #203360;
}
  .bar.bar-stable .title{
  color: #ffffff;

}

.title{
  color: #ffffff;
}


a .item-icon-right {
    color: inherit;
    text-decoration: none;
    border: transparent;
    padding: 1%;
    margin-right: -15%;}

#button{
  padding-left: : 10px;


}



.button.button-positive {
    border-color: transparent;
    background-color: #5b84e5;
    color: #fff;
    border-radius: 25px;
